# LaTeX build byproducts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.xdv
*.dvi
*.glo
*.gls
*.glg
*.ist
*.acn
*.acr
*.alg
_minted*/

# macOS
.DS_Store
